* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

/* HEADER */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 1000;
}
.header__title {
  font-size: 32px;
}
.header__nav {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
.header__menu {
  display: flex;
  gap: 15px;
  z-index: 10;
}
.header__menu-item {
  font-weight: 500;
  cursor: pointer;
  color: white;
}
.header__menu-item:hover {
  text-decoration: underline;
}
.header--background-white {
  background-color: white;
  color: #0a0a0a;
}

/* MAIN */
/* --BANNER */
.banner {
  height: 85vh;
  overflow: hidden;
  z-index: 1;
}
.banner__img-1,
.banner__img-2,
.banner__img-3 {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.banner__img-1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./public/teste.jpg");
}
.banner__img-2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./public/teste2.jpg");
}
.banner__img-3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./public/teste3.jpg");
}

/* ABOUT */
.about {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 90px 0 90px 0;
  gap: 15px;
}
.about__title {
  font-size: 32px;
}
.about__text {
  font-size: 20px;
}
.about__images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}

.about__images__container {
  width: 100%;
  gap: 5px;
  display: flex;
  position: relative;
}
.about__images__container-hidden {
  display: none;
}
.about__images__container-item-1 {
  width: 47%;

  height: 280px;
  cursor: pointer;
  transition: 0.3s;
}
.about__images__container-item-2 {
  width: 53%;
  height: 280px;
  cursor: pointer;
  transition: 0.3s;
}
.about__images__container-item-1:hover,
.about__images__container-item-2:hover {
  opacity: 0.8;
}
.about__link {
  text-align: center;
  text-decoration: underline;
  color: #0075b9;
  cursor: pointer;
}
.open--images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* VIEWER */
#image-viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 1000;
  overflow-y: auto;
}

#image-viewer .container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}
#image-viewer img {
  max-width: 100%;
  max-height: 100%;
}
#image-viewer .container .close {
  position: absolute;
  right: 15%;
  top: 0;
  border: none;
  color: white;
  cursor: pointer;
}
#image-viewer .container button {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.521);
  font-size: 30px;
  border: none;
  color: white;
  margin-left: -55px;
  margin-right: -55px;
  z-index: 1;
}

/* EVENTS */
.events {
  width: 100%;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}
.events__background {
  position: absolute;
  top: 50px;
  width: 150%;
  left: -20%;
  min-height: 90%;
  background: #ebebeb;
  transform: rotate(3deg);
  z-index: -1;
}
.events__content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 90px 0 90px 0;
  gap: 15px;
}
.events__title {
  font-size: 32px;
}
.events__text {
  font-size: 20px;
}
.events__images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}
.events__images__container {
  width: 100%;
  gap: 5px;
  display: flex;
  position: relative;
}
.events__images__container-item-1,
.events__images__container-item-2,
.events__images__container-item-3,
.events__images__container-item-4 {
  width: 50%;
  height: 280px;
  cursor: pointer;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.events__images__container-item-1 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/teste.jpg");
}
.events__images__container-item-2 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/teste2.jpg");
}
.events__images__container-item-3 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/teste3.jpg");
}
.events__images__container-item-4 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/teste.jpg");
}
.events__images__container-item-1:hover,
.events__images__container-item-2:hover,
.events__images__container-item-3:hover,
.events__images__container-item-4:hover {
  opacity: 0.8;
}
.events__images__container-text {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
.open--images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Contact */
.contact {
  padding: 50px 0 150px 0;
  width: 100%;
  position: relative;
  margin: auto;
}
.contact__container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact__title {
  font-size: 32px;
}
.contact__form__text {
  text-align: center;
}
.contact__content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.contact__container__form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__map {
  width: 70%;
}
.contact__map__link {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #1ca63a;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  align-items: center;
}
.contact__map__link:hover {
  background-color: #26943e;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__input {
  padding: 5px;
}
.contact__button {
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  background-color: #1ca63a;
}
.contact__button:hover {
  background-color: #26943e;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-inline: 20px;
  background-color: #ebebeb;
}
/* ANIMATION */
@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1250px) {
  .header__nav {
    padding: 20px;
  }
  .about,
  .events,
  .contact {
    padding: 80px 20px;
  }
  .about__images__container-item-1,
  .about__images__container-item-2 {
    width: 50%;
  }

  .events__images__container-item-1,
  .events__images__container-item-2,
  .events__images__container-item-3,
  .events__images__container-item-4 {
    width: 50%;
  }
  .contact__container {
    width: 100%;
  }
  .contact__container__form {
    width: 40%;
  }
  .contact__map {
    width: 60%;
  }
}
@media screen and (max-width: 800px) {
  .header__nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header--title-hidden {
    display: none;
  }
  .about__images__container-item-1,
  .about__images__container-item-2 {
    width: 100%;
  }

  .about__images__container {
    flex-wrap: wrap;
  }
  .events__images__container-item-1,
  .events__images__container-item-2,
  .events__images__container-item-3,
  .events__images__container-item-4 {
    width: 100%;
  }
  .events__images__container {
    flex-wrap: wrap;
  }
  .contact__content {
    display: flex;
    flex-direction: column;
  }
  .contact__container__form {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  .contact__map {
    width: 100%;
  }
  .contact__map__link {
    font-size: 16px;
  }
}
