* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
}

/* HEADER */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  color: white;
  z-index: 1000;
}
.header__title {
  font-size: 32px;
}
.header__nav {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
.header__menu {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.header__menu-item {
  font-weight: 500;
  cursor: pointer;
  color: white;
}
.header__menu-item:hover {
  text-decoration: underline;
}
.header--background-white {
  background-color: white;
  color: #0a0a0a;
}
.header__icon {
  cursor: pointer;
  color: #1ca63a;
  font-size: 22px;
}
.header__icon:hover {
  color: #26943e;
}

/* MAIN */
/* --BANNER */
.banner {
  height: 85vh;
  overflow: hidden;
  z-index: 1;
}
.banner__img-1,
.banner__img-2,
.banner__img-3 {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.banner__img-1 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./public/local/fachada.jpg");
}
.banner__img-2 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./public/local/IMG_9134.jpg");
}
.banner__img-3 {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./public/formatura.jpg");
}
/* WHATS ICON */
.icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
  color: #1ca63a;
  font-size: 48px;
  background-color: white;
  border-radius: 10px;
  padding-inline: 10px;
}
.icon:hover {
  color: #26943e;
}

.border {
  border: 1px dotted #f1f1f1f1;
}

.hidden {
  display: none;
}

/* ABOUT */
.about {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  padding: 90px 0 90px 0;
  gap: 15px;
}
.about__title {
  font-size: 32px;
}
.about__text {
  font-size: 20px;
}
.about__images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}

.about__images__container {
  width: 100%;
  gap: 5px;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}
.about__images__container-item:hover {
  opacity: 0.9;
}
.about__images__container-hidden {
  display: none;
}
.about__images__container-item-1 {
  width: 47%;

  height: 280px;
  cursor: pointer;
  transition: 0.3s;
}
.about__images__container-item-2 {
  width: 53%;
  height: 280px;
  cursor: pointer;
  transition: 0.3s;
}
.about__images__container-item-1:hover,
.about__images__container-item-2:hover {
  opacity: 0.8;
}
.about__link {
  text-align: center;
  text-decoration: underline;
  color: #0075b9;
  cursor: pointer;
}
.open--images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* VIEWER */
#image-viewer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  z-index: 1000;
  overflow-y: auto;
}
#image-viewer .container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

#image-viewer .container div {
  display: flex;
  position: relative;
  justify-content: center;
  position: relative;
}
.image__text {
  position: absolute;
  background-color: #ffffff;
  opacity: 1;
  width: 100%;
  padding: 5px;
  bottom: 0px;
  font-size: 18px;
}
#image-viewer img {
  width: 1000px;
  height: 100%;
  max-height: 120%;
  max-width: 120%;
}
#image-viewer .container .close {
  position: absolute;
  right: 15%;
  top: 0;
  border: none;
  color: white;
  cursor: pointer;
}
#image-viewer .container button {
  padding: 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.521);
  font-size: 30px;
  border: none;
  color: white;
  margin-left: -55px;
  margin-right: -55px;
  z-index: 1;
}

/* EVENTS */
.events {
  width: 100%;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}
.border {
  border: 1px dotted #f1f1f1f1;
}
.events__content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 90px 0 90px 0;
  gap: 15px;
}
.events__title {
  font-size: 32px;
}
.events__text {
  font-size: 20px;
}
.events__images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
  flex-direction: column;
}
.events__images__container {
  width: 100%;
  gap: 5px;
  display: flex;
  position: relative;
}
.events__images__container-item-1,
.events__images__container-item-2,
.events__images__container-item-3,
.events__images__container-item-4 {
  width: 50%;
  height: 280px;
  cursor: pointer;
  transition: 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.events__images__container-item-1 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/formatura.jpg");
}
.events__images__container-item-2 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/show.jpeg");
}
.events__images__container-item-3 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/evento2/casamento.jpeg");
}
.events__images__container-item-4 {
  background-image: linear-gradient(
      0deg,
      rgb(31, 31, 31) 0%,
      rgba(0, 0, 0, 0) 70%
    ),
    url("./public/confra.jpeg");
}
.events__images__container-item-1:hover,
.events__images__container-item-2:hover,
.events__images__container-item-3:hover,
.events__images__container-item-4:hover {
  opacity: 0.8;
}
.events__images__container-text {
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
.open--images {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.821); /* Black w/ opacity */
  z-index: 10000;
  padding: 30px;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modal-content img {
  max-height: 500px;
}

/* Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Contact */
.contact {
  padding: 90px 0 150px 0;
  width: 100%;
  position: relative;
  margin: auto;
}
.contact__container {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact__title {
  font-size: 32px;
}

.contact__content {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.contact__container__form {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact__map {
  width: 100%;
}
.contact__map__link {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #1ca63a;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  align-items: center;
}
.contact__map__link:hover {
  background-color: #26943e;
}

.contact__input {
  padding: 5px;
}
.contact__button {
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  background-color: #1ca63a;
}
.contact__button:hover {
  background-color: #26943e;
}

/* ESPAÇO */
.espaco {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.espaco__container {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
}
.espaco__all {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.espaco__title {
  font-size: 32px;
  width: 1200px;
  margin: auto;
  margin-top: 60px;
}
.espaco__content {
  width: 1200px;
  display: flex;
  gap: 30px;
  margin: auto;
}
.espaco__background {
  position: absolute;
  top: 30px;
  width: 180%;
  left: -60%;
  min-height: 100%;
  background: #f1f1f1;
  /* transform: rotate(3deg); */
  z-index: -1;
}
.espaco__background-2 {
  position: absolute;
  top: 40px;
  width: 180%;
  right: -50%;
  min-height: 100%;
  background: #f1f1f1;
  /* transform: rotate(-3deg); */
  z-index: -1;
}
.espaco__content__info {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.espaco__content__info h3 {
  font-size: 28px;
}
.espaco__content__info p {
  font-size: 20px;
}
.espaco__content__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 55%;
}
.espaco__content__img-casamento {
  background-image: url("./public/casamento.jpeg");
}
.espaco__content__img-show {
  background-image: url("./public/show.jpeg");
}
.espaco__content__img-aniversario {
  background-image: url("./public/aniversario.jpeg");
}
.espaco__content__img-congresso {
  background-image: url("./public/congresso.jpeg");
}

.espaco__content__img-formatura {
  background-image: url("./public/formatura.jpg");
}
.espaco__content__img-confra {
  background-image: url("./public/confra.jpeg");
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
  padding-inline: 20px;
  background-color: #ebebeb;
}
/* ANIMATION */
@keyframes fade {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1250px) {
  .header__nav {
    padding: 20px;
  }
  .about,
  .events,
  .contact {
    padding: 80px 20px;
  }
  .about__images__container-item-1,
  .about__images__container-item-2 {
    width: 50%;
  }

  .events__images__container-item-1,
  .events__images__container-item-2,
  .events__images__container-item-3,
  .events__images__container-item-4 {
    width: 50%;
  }
  .contact__container {
    width: 100%;
  }
  .contact__map {
    width: 100%;
  }
  .espaco__title {
    width: 100%;
    padding-inline: 20px;
  }
  .espaco__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0px;
    margin: auto;
  }
  .espaco__content__info {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .espaco__content__info h3 {
    font-size: 28px;
  }
  .espaco__content__info p {
    font-size: 18px;
  }
  .espaco__content__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
  }
  .spaco__content__invert {
    flex-direction: column-reverse;
  }

  #image-viewer img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .banner {
    height: 50vh;
  }
  .icon {
    font-size: 40px;
  }
  .header__nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header--title-hidden {
    display: none;
  }
  .about__images__container-item-1,
  .about__images__container-item-2 {
    width: 100%;
  }

  .about__images__container {
    flex-wrap: wrap;
  }
  .events__images__container-item-1,
  .events__images__container-item-2,
  .events__images__container-item-3,
  .events__images__container-item-4 {
    width: 100%;
  }
  .about__text,
  .events__text {
    font-size: 18px;
  }
  .events__images__container {
    flex-wrap: wrap;
  }
  .contact__content {
    display: flex;
    flex-direction: column;
  }
  .contact__container__form {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
  .contact__map {
    width: 100%;
  }
  .contact__map__link {
    font-size: 16px;
  }
  #image-viewer img {
    max-height: 100%;
    max-width: 100%;
    width: 370px;
  }
  .image__text {
    bottom: -120px;
  }

  .modal {
    padding: 0;
  }
  .modal-content {
    width: 100%;
    padding: 10px;
  }
  .modal-content img {
    width: 100%;
  }
}
